li{
    list-style: none;
}
a{
    
    text-decoration: none;
}
.nav{
     min-height: 50px;
     width: 100%;
     box-shadow: 0 0 5px 0 #a5a5c1;             
     padding: 10px;     
     z-index: 1100;
    }


.nav ul{
     
     display: flex;
     justify-content: space-evenly;
     align-items: center;

}
.nav ul li{
     font-size: 1.2rem;
     font-family: "poppins";
   
}
.nav ul li a{
   color: #516060;
   padding: 3px 8px;
   border-radius: 2rem;
}

.active{
   background: #eeebeb;
}